<div class="globload">
    <div class="spinner animated fadeIn">
<!--
        <img src="img/logo_placeholder.png" alt="Proyecto Justicia"  />
-->
        <div class="preloader"></div>
        <h6>CARGANDO</h6>
    </div>
</div>
