<!-- representa la pantalla inicial que se carga y tapa el resto del contenido, tipo portada. Se oculta luego de unos segundos. -->
{{c-loadingInitialScreen}}

{{#c-scroll}}


  <!-- SECTIONS LEFT START -->
    <div class="ms-left">

        <!-- 1ST SECTION LEFT START -->
    <div class="ms-section" id="left1">


        </div>
        <!-- 1ST SECTION LEFT END-->


    <!-- 2ND SECTION LEFT START -->
        <div class="ms-section" id="left2">

            

        </div>
        <!-- 2ND SECTION LEFT END -->

    <!-- 3RD SECTION LEFT START -->
        <div class="ms-section" id="left3">

            <div class="col-md-10 col-md-offset-2 col-xs-12 col-xs-offset-0" style="top: -15%;">
				<div class="cita">
					<p>"El mayor valor de una nación no son sus riquezas en cuanto a bienes particulares.</p>
					<p>El mayor valor de una nación es el valor humano.</p>
					<p>Es la relación entre una madre y su hijo obrero."</p>
					<span class="firma">Alfredo Palacios</span>
				</div>
            </div>
            
        </div>

        <!-- 3RD SECTION LEFT END -->

  </div>
    <!-- SECTIONS LEFT END -->

  <!-- SECTIONS RIGHT START -->
    <div class="ms-right">

        <!-- 1ST SECTION RIGHT START -->
        <div class="ms-section" id="right1">

            <!-- START NEWSLETTER -->
            <div id="subscribe" class="animated opacity-0">


            </div>
            <!-- END NEWSLETTER -->

        </div>
        <!-- 1ST SECTION RIGHT END -->

    <!-- 2ND SECTION RIGHT START -->
        <div class="ms-section" id="right2">

            <div id="principal-carousel" >

                <div class="col-md-12 col-md-offset-0 col-xs-12 col-xs-offset-0">
					<div class="cita">
						<p>"Todo el que disfruta cree que lo que importa del árbol es el fruto, cuando en realidad es la semilla.</p>
						<p>He aquí la diferencia entre los que creen y los que disfrutan."</p>
						<span class="firma">Friederich Nietzche</span>
					</div>
                </div>

            </div>

    </div>
        <!-- 2ND SECTION RIGHT END -->

    <!-- 3RD SECTION RIGHT START -->
        <div class="ms-section" id="right3">

            


    </div>
        <!-- 3RD SECTION RIGHT END -->

    </div>
    <!-- SECTIONS RIGHT END -->
{{/c-scroll}}

{{outlet}}
